.attendance-container {
  text-align: center;
  padding: 30px 100px;
}

.attendance-date {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.attendance-date-title {
  font-size: 20px;
  margin: 20px;
}

.date-button {
  margin: auto 0;
}

.date-button button {
  background-color: white;
  color:rgb(0, 30, 255);
  border:solid 1px rgb(0, 30, 255);
  font-size: 20px;
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

th,
td {
  padding: 25px 40px;
  word-break: break-all;
  border-top: 1px solid #000;
}

nav {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
}

.pagination li {
  border: 1px solid #ddd;
  padding: 10px 15px;
  background-color: white;
}

.pagination li a {
  text-decoration: none;
  color: rgb(0, 150, 255);
}

.pagination .active {
  background-color: rgb(0, 150, 255);
  border: 1px solid rgb(0, 150, 255);
  color: white;
}

.pagination li:hover:not(.active, .disabled) {
  background-color: #ddd;
}